name: Push Images to Quay
on: [deployment]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: 'master'
      - name: 'Push images'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          QUAY_USER: ${{ secrets.QUAY_USER }}
          QUAY_TOKEN: ${{ secrets.QUAY_TOKEN }}
        run: |
          sudo apt-get update -o Dir::Etc::sourcelist="sources.list" -o Dir::Etc::sourceparts="-" -o APT::Get::List-Cleanup="0"
          sudo apt-get install -y python3.7 python3-pip gcc build-essential libkrb5-dev
          sudo pip3 install virtualenv 

          virtualenv --python=python3 ~/cekit
          source ~/cekit/bin/activate
          pip install -U cekit
          pip install odcs
          pip install docker
          pip install docker_squash
          pip install behave
          pip install lxml

          docker login -u="${QUAY_USER}" -p="${QUAY_TOKEN}" quay.io
          make
          make push

      - name: update deploy status
        if: always()
        uses: unacast/actions-github-deployment-status@0.2
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          status: ${{ job.status }}         
  